---
layout: default
permalink: /index.html
---

<span style="display: none;">haxed</span>

<div class="wrapper">
    <div class="icon-canvas">
        {% for icon in site.data.icons %}
            {% for i in (1..icon.quantity) %}
              <i class="mdi mdi-{{ icon.icon }}"></i>
            {% endfor %}
        {% endfor %}
    </div>

    <div class="header">
        <button id="demo-menu-lower-right" class="mdl-button mdl-js-button mdl-button--icon">
          <i class="mdi mdi-dots-vertical"></i>
        </button>

        <ul class="mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect" for="demo-menu-lower-right">
          <li class="mdl-menu__item"><a href="https://github.com/eliasmeire/eliasmeire.github.io">View source</a></li>
          <li id="implodeexplode" class="mdl-menu__item">Implode</li>
        </ul>
    </div>

    <div id="content" class="content">
        <h1>{{ site.title }}</h1>
        <p>IT Student and (frontend) Webdeveloper.</p>
        <ul class="socialicons">
            <li id="github">
                <a href="https://github.com/{{ site.github_username }}">
                  <i class="mdi mdi-github-circle"></i>
                </a>
                <div class="mdl-tooltip" for="github">
                    Github
                </div>
            </li>
            <li id="email">
                <a href="mailto:{{ site.email }}">
                    <i class="mdi mdi-email"></i>
                </a>
                <div class="mdl-tooltip" for="email">
                    Email
                </div>
            </li>

            <li id="cv">
                <a href="https://s.eliasmei.re/cv.pdf">
                    <i class="mdi mdi-file-check"></i>
                </a>
                <div class="mdl-tooltip" for="cv">
                    Download CV
                </div>
            </li>
        </ul>
    </div>
</div>
