<head>
	<title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
	
	<meta charset="utf-8">	
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="author" content="{{ site.author }}">
	<meta name="description" content="{{ site.description }}">	
	
	<!-- Favicon -->
	<!-- General -->
	<link rel="icon" type="image/png" href="/favicon-32x32.png" sizes="32x32">
	<link rel="icon" type="image/png" href="/favicon-96x96.png" sizes="96x96">
	<link rel="icon" type="image/png" href="/favicon-16x16.png" sizes="16x16">

	<!-- Apple -->
	<link rel="apple-touch-icon" sizes="57x57" href="/apple-touch-icon-57x57.png">
	<link rel="apple-touch-icon" sizes="60x60" href="/apple-touch-icon-60x60.png">
	<link rel="apple-touch-icon" sizes="72x72" href="/apple-touch-icon-72x72.png">
	<link rel="apple-touch-icon" sizes="76x76" href="/apple-touch-icon-76x76.png">
	<link rel="apple-touch-icon" sizes="114x114" href="/apple-touch-icon-114x114.png">
	<link rel="apple-touch-icon" sizes="120x120" href="/apple-touch-icon-120x120.png">
	<link rel="mask-icon" href="/safari-pinned-tab.svg" color="{{ site.primary_color }}">

	<!-- Android -->
	<meta name="theme-color" content="{{ site.primary_color }}">
	<link rel="manifest" href="/manifest.json">	
	
	<!-- Microsoft -->
	<meta name="msapplication-TileColor" content="{{ site.primary_color }}">
	<meta name="application-name" content="{{ site.title }}">
	
	<!-- OGP -->
	<meta property="og:url" content="https://eliasmei.re/">
	<meta property="og:site_name" content="EliasMei.re">
	<meta property="og:title" content="{{ site.title }}">
	<meta property="article:author" content="{{ site.author }}">
	<link rel="image_src" href="https://eliasmei.re/img/me.jpg">
	<meta property="og:image" content="https://eliasmei.re/img/me.jpg">
	<meta property="og:image:width" content="360">
	<meta property="og:image:height" content="360">
	<meta property="og:type" content="website">
	<meta name="og:description" content="{{ site.description }}">
	
	<link rel="icon" type="image/ico" href="{{ "/favicon.ico" | prepend: site.baseurl }}">
	<link rel="stylesheet" href="{{ "/css/main.min.css" | prepend: site.baseurl }}">
</head>