@keyframes float {
  0%, 100% {
    transform: rotate(0deg);
  }

  50% {
    top: 70%;
    left: 40%;
    transform: rotate(20deg);
  }
}

@keyframes fadein {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fadeout {
  0% {
    opacity: 1;
  }

  40% {
  	opacity: 0;
  }

  100% {
  	font-size: 1em;
    opacity: 0;
    top: 50%;
    left: 50%;
  }
}

@keyframes fadebackin {
  0% {
  	font-size: 1em;
    opacity: 0;
    top: 50%;
    left: 50%;
  }

  40% {
  	opacity: 0;
  }

  100% {
  	opacity: 1;
  }
}

@keyframes colorshift {
  0% {
  	font-size: 4em;
    color: palette(Red);
  }

  30% {
  	font-size: 3em;
  	color: palette(Blue, 700);
  }

  50% {
  	font-size: 4em;
    color: palette(Cyan, A400);
  }

  70% {
  	font-size: 3em;
  	color: palette(Amber);
  }

  100% {
  	font-size: 4em;
  	color: palette(Light Green);
  }
}