@keyframes fadein {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes implode {
  0% {
    opacity: 1;
  }

  40% {
  	opacity: 0;
  }

  100% {
    opacity: 0;
    transform: translate3d(0,0,0);
  }
}

@keyframes explode {
  0% {
    opacity: 0;
    transform: translate3d(0,0,0);
  }

  30% {
  	opacity: 0;
  }

  100% {
  	opacity: 1;
  }
}

@keyframes colorshift {
  0% {
    color: palette(Red);
  }

  30% {
  	color: palette(Blue, 700);
  }

  50% {
    color: palette(Amber);
    
  }

  70% {
    color: palette(Cyan, A400);
  }

  100% {
  	color: palette(Light Green);
  }
}