@keyframes fadein {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fadeout {
  0% {
    opacity: 1;
  }

  40% {
  	opacity: 0;
  }

  100% {
  	font-size: 1em;
    opacity: 0;
    top: 50%;
    left: 50%;
  }
}

@keyframes fadebackin {
  0% {
  	font-size: 1em;
    opacity: 0;
    top: 50%;
    left: 50%;
  }

  40% {
  	opacity: 0;
  }

  100% {
  	opacity: 1;
  }
}

@keyframes colorshift {
  0% {
    color: palette(Red);
  }

  30% {
  	color: palette(Blue, 700);
  }

  50% {
    color: palette(Amber);
    
  }

  70% {
    color: palette(Cyan, A400);
  }

  100% {
  	color: palette(Light Green);
  }
}